:root {
    --laranja-principal: #e85e00;
    --laranja-secundario: #cc5200;
    --branco: white;
    --branco-secundario: #f3f3f3;
    --azul-principal: #003399;
    --cinza: #c2c2c2;
    --fonte-principal: Inter;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

.menu-lateral {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 300px;
    background: var(--branco-secundario);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;
}

.menu-lateral h3 {
    color: var(--azul-principal);
    margin-bottom: 20px;
    font-size: 20px;
}

.botao-menu {
    display: block;
    background: var(--laranja-principal);
    color: var(--branco);
    padding: 12px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
}

.botao-menu:hover {
    background: var(--laranja-secundario);
}

header {
    margin: 2rem;
}

header pre {
    font-size: 1.2rem;

}

h1 {
    font: 2rem;
    color: var(--azul-principal);
    font-weight: bolder;

}

section {
    margin: 2rem;
}

.form-imc {
    max-width: 500px;
    margin-left: 2rem;
    margin-bottom: 3rem;
}


.form-imc label {
    font-weight: bold;
    color: var(--laranja-principal);
    font-size: 1.1rem;
}


.form-imc input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #ddd;
    font-size: 1rem;
    margin-top: 5px;
    outline: none;
}


.form-imc select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #ddd;
    font-size: 1rem;
    margin-top: 5px;
    outline: none;

}


.btn-calcular {
    background: var(--laranja-principal);
    color: var(--branco);
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.2s;
}

.btn-calcular:hover {
    background: var(--laranja-secundario);
}


.resultado-box {
    margin-top: 2rem;
    padding: 15px;
    background: #eee;
    border-radius: 10px;
    width: 100%;
}

.resultado-box h4 {
    font-size: 1.3rem;
    color: var(--azul-principal);
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: var(--cinza);
}